/* RESET
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML PREDEFINED TAGS
----------------------------------------------- */
html {height:100%;}

body {
	/*
	background:#1c151e;
	background:-moz-linear-gradient(top, #1c151e 0%, #302a32 100%);
	background:-webkit-linear-gradient(top, #1c151e 0%,#302a32 100%);
	background:linear-gradient(to bottom, #1c151e 0%,#302a32 100%);
	
	https://www.transparenttextures.com/patterns/bright-squares.png
	https://www.transparenttextures.com/patterns/axiom-pattern.png
	https://www.transparenttextures.com/patterns/graphy-dark.png
	https://www.transparenttextures.com/patterns/inspiration-geometry.png
	https://www.transparenttextures.com/patterns/stardust.png
	https://www.transparenttextures.com/patterns/random-grey-variations.png
	https://www.transparenttextures.com/patterns/3px-tile.png
	*/
	
	/*
	background:#ad5389;
	background:-webkit-linear-gradient(to top, #3c1053, #ad5389);
	background:linear-gradient(to top, #3c1053, #ad5389);
	*/
	
	
	background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
	/*
	background:#131518;
	*/
	color:#444;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
	line-height:18px;
	margin:0 auto;
	padding:0;
}


/* HEADINGS */
h1, h2, h3, h4, h5, h6{color:#666; font-family:'Open Sans', sans-serif; font-weight:300;}
h1, h2, h3{margin-bottom:10px;}
h4, h5, h6{margin-bottom:15px;}
h1 {font-size:30px; line-height:32px;}
h2 {font-size:28px; line-height:28px;}
h3 {font-size:20px; line-height:22px;}
h4 {font-size:16px; line-height:20px;}
h5 {font-size:14px; line-height:18px;}
h6 {font-size:11px; line-height:16px;}

/* LINKS */
a {color:#0099cc; font-weight:normal; text-decoration:none;}
a:hover {color:#237dac; text-decoration:none;}
a img {border:none}

/* LISTS, BLOCKQUOTES AND PARAGRAPHS */
p, ul, ol, blockquote {margin-bottom:10px;}
body p:last-child{margin-bottom:0;}
ul {margin:10px 0 20px 0px;}
ol {margin:10px 0 20px 25px;}

/* CLEAR */
.clear {clear:both; float:none!important;}

/* PAGE STRUCTURE
----------------------------------------------- */
/* CANVAS */
canvas {
	background: url('../images/bg.png') repeat 0 0;
	border-bottom:#fff;
	border-bottom:5px solid rgba(255, 255, 255, 0.1);
	width:100% !important;
}

/* BTN */
.btn {
	background:none;
	border:none;
	color:#fff;
	color:rgba(255, 255, 255, 0.3);
	display:inline-block;
	font-size:80px;
	height:80px; 
	line-height:55px;
	text-align:center;
	width:80px;
}

.btn:focus {outline:none;}

.left-btn {margin-left:20px;}
.right-btn {margin-right:20px;}

/* SCORE */
#score {display:inline-block; right:10px; position:fixed; top:10px;}
#score p {
	color:#fff;
	font-family:'Sarpanch', sans-serif;
	font-size:24px;
	font-weight:800;
	float:right;
	text-shadow:1px 1px 0 #555;
}
#total {display:none;}

/* MAIN ICON */
#main-icon {margin-top:20px;}

/* MAIN TITLE */
#main-title {
	color:#fff;
	font-family:'Sarpanch', sans-serif;
  line-height:50px;
	margin-bottom:50px;
	margin-top:50px;
	text-align:center;
	text-shadow:1px 1px 0 #555;
  text-transform:uppercase;
}

/* MAIN TEXT */
#main-text {
	color:#fff;
	font-family:'Sarpanch', sans-serif;
	font-size:12px;
	line-height:15px;
	margin-bottom:50px;
	text-shadow:1px 1px 0 #555;
}

/* MAIN NOTE */
#main-note {
	color:#fff;
	font-family:'Sarpanch', sans-serif;
	font-size:10px;
	margin-top:50px;
}

#main-note i {margin-right:5px;}

/* START-BTN */
#start-btn {
	animation-direction:alternate;
	animation-duration:800ms;
	animation-iteration-count:infinite;
	animation-name:blink;
	color:#fff;
	display:block;
	font-family:'Sarpanch', sans-serif;
	font-size:18px;
	margin-top:50px;
	text-shadow:1px 1px 0 #555;
	text-transform:uppercase;
}

@keyframes blink {
  from {opacity:1;}
  to {opacity:0;}
}

#bottom {
	bottom:0;
	padding:70px 0;
	height:auto;
	position:fixed;
  width:100%;
}

.social-links {margin-top:40px;}
.social-links a {color:#fff; font-size:20px; margin-right:10px;}

/* MODAL BOX */
.modal {
	background:#ad5389;
	background:-webkit-linear-gradient(to top, #3c1053, #ad5389);
	background:linear-gradient(to top, #3c1053, #ad5389);
	background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
  display:none;
  height:100%;
  left:0;
  overflow:auto;
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
}

/* Modal Content/Box */
.modal-content {
  margin:30% auto;
  padding:20px;
  width:80%;
}

.modal-content h2 {
	color:#fff;
	font-family:'Sarpanch', sans-serif;
  line-height:50px;
	margin-bottom:50px;
	margin-top:0px;
	text-align:center;
	text-shadow:1px 1px 0 #555;
  text-transform:uppercase;
}

.modal-content p a {
	border:1px solid rgba(255, 255, 255, 0.3);
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	color:#fff;
	display:block;
	font-family:'Sarpanch', sans-serif;
	font-size:18px;
	margin-top:30px;
	padding:20px 0;
	text-shadow:1px 1px 0 #555;
	text-transform:uppercase;
}

#song-title {
	color:#fff;
	font-family:'Sarpanch', sans-serif;
 	position:fixed;
 	top:500px;
 	left:0;
 	right:0;
	text-align:center;
	text-shadow:1px 1px 0 #555;
  text-transform:uppercase;
}

#song-title i {
	margin-right:5px;
}

/* BOTTOM-NAV */
#bottom-wrapper {
  bottom:0;
	left:0;
	height:75px;
	position:fixed;
	width:100%;
}
#bottom-nav {
  background-color:rgba(50,50,50,0.1);
  box-shadow:inset 0 35px 1px 0 rgba(100,100,100,0.1);
  border-top:2px solid rgba(50,50,50,0.1);
  height:75px;
}
#bottom-nav ul {text-align:center; margin-top:0;}
#bottom-nav ul li {
  border-left:1px solid rgba(50,50,50,0.3);
  border-right:1px solid rgba(100,100,100,0.3);
  display:inline-block;
  width:16.8%;
  height:100px;
  margin-right:-3px;
  text-transform:uppercase;
}
#bottom-nav ul li:first-child {border-left:none;}
#bottom-nav ul li:last-child {border-right:none;}
#bottom-nav ul li a img {height:40%; margin-top:15px; margin-bottom:3px;}
#bottom-nav ul li a {
  color:transparent;
  font-family:'Sarpanch', sans-serif;
  font-size:14px;
}

#bottom-nav ul li a:hover,
#bottom-nav ul li a.active {
  color:#fff;
  position:relative;
  text-shadow:1px 1px rgba(50,50,50,0.3);
  top:-7px;
}

/* CUSTOM CLASSES
----------------------------------------------- */
.right {float:right;}
.left {float:left;}
.bold {font-weight:bold;}
.italic {font-style:italic;}
.underline {border-bottom:1px solid #d8d8d8; padding-bottom:5px;}
.center {text-align:center;}
img.center {display:block; margin-left:auto; margin-right:auto;}


/* ANIMATE BACKGROUND */
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}




#countdown {
	display:none;
  position:relative;
  height:160px;
  margin:auto;
  margin-top:-250px;
  text-align:center;
  width:160px;
}

#countdown-number {
  color:white;
  display:inline-block;
  font-family:'Sarpanch', sans-serif;
	font-size:36px;
  line-height:160px;
}

svg {
  height:160px;
  position:absolute;
  right:0;
  top:0;
  transform:rotateY(-180deg) rotateZ(-90deg);
  width:160px;
}

svg circle {
  stroke-dasharray:440px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 1px;
  stroke: rgba(255,255,255,0.5);
  fill: rgba(255,255,255,0.1);
  animation: countdown 3s linear infinite forwards;
}

@keyframes countdown {
  from {
  	stroke-dashoffset:0px;
  }
  to {
    stroke-dashoffset:440px;
  }
}
